
body {
    background: url(/images/bulsu-main-gate.jpg) top center no-repeat;
    background-size: cover;
    margin: 0;
  }
  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .logo-container {
    
    display: flex;
    align-items: center;
    
    
  }
  .logo-pic {
    height: 150px;
    width: 150px;
  }
  
  .Box-blur {
     
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: rgba(255, 255, 255, 0.7);
      width: 370px;
      height: 410px;  
      border-radius: 20px;
      
      
    }
  .form {
    
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      width: 280px;
      Margin-bottom: 6rem;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    
    ::placeholder {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .form button {
      align-self: flex-end;
    }
    
    .Input-Label {
      color: #151717;
      font-weight: 600;
    }
    
    .inputForm {  
      border: 1px solid black;
      border-radius: 10px;
      height: 50px; 
      display: flex;
      align-items: center;
      padding-left: 10px;
      transition: 0.2s ease-in-out;
      background-color: transparent;  
    }
    
    .input {
      margin-left: 10px;
      border: none;
      width: 85%;
      height: 95%;
      font-size: 15px;
      background-color: transparent;
    }
    
  .input::placeholder {
    color: black;
  }
    .input:focus {
      outline: none;
      
    }
    
    
    .Remember-Forgot-Container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      justify-content: space-between;
    }
    
    .flex-row > div > label {
      font-size: 14px;
      color: black;
      font-weight: 400;
    }
    
    .span {
      font-size: 14px;
      margin-left: 5px;
      color: #2d79f3;
      font-weight: 500;
      cursor: pointer;
  
    }
    
    .SignUp {
      text-decoration: none;
      font-size: 14px;
      margin-left: 5px;
      color: #2d79f3;
      font-weight: 500;
      cursor: pointer;
    }
    
    .p {
      text-align: center;
      color: black;
      font-size: 14px;
      margin: 5px 0;
    }
    
    
    
    .button-submit {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      margin: 20px 0 10px 0;
      background-color: #151717;
      border: none;
      color: white;
      font-size: 15px;
      font-weight: 500;
      border-radius: 10px;
      height: 50px;
      width: 100%;
      cursor: pointer;
    }
    .button-submit:hover {
      background-color: #252727;
    }
    
  
  