body {
  background: url(/images/BSU-picture.png) top center no-repeat;
  background-size: cover;
  margin: 0;
}
.Sign-up-OTP {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.login-box {
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 370px;
  height: 520px;  
  border-radius: 20px;
}
.flex-column-ver {
  margin-top: 30px;
}
.form {
    
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  p { 
    position: relative;
    margin: 0;
    text-align: center;
    
    font-size: 50px;
    color: black;
    font-weight: 700;
    
  }


  .input {
    margin-left: 10px;
    border: none;
    width: 85%;
    height: 95%;
    font-size: 15px;
    background-color: transparent;
    padding-left: 10px;
    
  }

  .input::placeholder {
    color: black;
  }
    .input:focus {
      outline: none;
      
    }
    
  
  .inputForm {  
    border: 1px solid black;
    border-radius: 10px;
    height: 50px; 
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
    background-color: transparent;  
    
    
  }
  .HAHA {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  .HAHA:hover {
    background-color: #252727;
  }
  