
body {
  background-image: url(/images/bulsu-main-gate.jpg);
    background-size: cover;
  margin: 0;
}
.sign-Up-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.Box-blur {
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 370px;  
    border-radius: 20px;
}
.form {
    position: relative;
    top: -5%;
    flex-direction: column;
    width: 300px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  p {
    
    text-align: center;
    font-size: 50px;
    margin: 0;
    margin-top: 1rem;
    
  }
  
  .button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  
  .button-submit:hover {
    background-color: #252727;
  } 
  
 

  .input {
    margin-left: 10px;
    border: none;
    width: 85%;
    height: 95%;
    font-size: 15px;
    background-color: transparent;
  }

  .input::placeholder {
    color: black; 
    
  }
    .input:focus {
      outline: none;
      
    }
.email-text {
  font-size: 15px;
  font-weight: 300;
}
  
  .inputForm {  
    margin-top: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    height: 50px; 
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
    background-color: transparent;  
  }
  
  .Sign-up {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  .Sign-up:hover {
    background-color: #252727;
  }
  
.contact-form {
  width: 350px;

}
.contact-form label {
  display: block;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 0;
}
select {
  width: 85%;
  height: 50px;
  padding: 12px 20px;
  margin-top: 0px;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 15px;
  background: transparent;
  
}