*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.header {
    
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.55) , rgba(0,0,0,0.55)) ,url(/images/bulsu-main-gate.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    
}
.logo {
    width: 50px;
    height: 60px;
}
.top {
    position: fixed;
    background: #f4f1f1;
    
    width: 100vw;
    display: flex;
    padding: 2% 6% 2% 6%;
    
    z-index: 2;
    align-items: center;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
    height: 70px;
}
.top p {
    font-size: 25px;
    margin-left: 5px;
    font-weight: 500;
}
.nav-menu {
    flex: 1;
    text-align: right;
}
.nav-menu ul li {
    margin: 0 15px;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-menu ul li a {
    color: black;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px
}
.nav-menu ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
    
}
.nav-menu ul li:hover::after {
    width: 100%;
}
.page-1 {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    
}
.page-1 h1 {
    font-size: 62px;
}
.page-1 p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.visit-us {
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    font-size: 13px;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.visit-us:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    
}

.colleges {
    /*background: #f9f4ef;*/
    background: #f4f1f1;
    margin: auto;
    text-align: center;
    padding-top: 120px;
    padding-left: 10%;
    padding-right: 10%;
    height: 100vh;
    
    
}

.colleges h1 {
    letter-spacing: 2px;
    font-size: 40px;
    margin-top: 5px;
    font-weight: 400;
}
.container-colleges {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 6rem;
    margin-bottom: 10rem;
    
}
.colleges-col {
    background: #ffffff;
    border-radius: 10px;
    margin-top: 5%;
    text-align: center;
    cursor: pointer;
    padding: 20px 20px;
    margin-bottom: 50px;
    margin-right: 4%;
    border-radius: 39px;

box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
             transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
}   
.colleges-col img {
    width: 230px;
}

h2 {
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing:1px;
}

.colleges-col:hover {
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    
}
.news-updates {
    background: #ffffff;
    
    padding-top: 120px;
    padding-left: 10%;
    padding-right: 10%;
}
.news-updates h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 400;
}

.container-news-updates {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    align-items: center;
    margin: 2rem 0;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.news-updates-col:hover {
    
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    cursor: pointer;
}
html {
    scroll-behavior: smooth;
}
body {
    scroll-behavior: smooth;
}
.news-link {
    list-style-type: none;
    text-decoration: none;
    color: black;
}
/*-------MAP-------*/
.map {
    height: 100vh;
    text-align: center;
    background: #ffffff;
    
}
.map p {
    font-weight: 600;
    font-size: 40px;
    padding: 75px 0 20px 0;
    font-weight: 400;
    margin-bottom: 2rem;
}
.map-container {
    margin-left: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 650px;
    height: 450px;
    padding: 2rem 0;
}
.map-container img {
   
    background-repeat: no-repeat;    
    background-position: center;
    border: 5px double black;
    
    height: 80vh;
    
}


/*-------ABOUT US-------*/
.about-us {
    background: #f4f1f1;
    height: 100vh;
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    color: black;
    cursor: default;
    
    
}

.about-us h2 {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #2e54a7;
}
.about-us h1 {
    text-align: center;
    margin-left:80%;
    padding-top: 50px;
    font-weight: 400;
    font-size: 40px;
    display: flex;
    width: 500px;
    margin-bottom: 2rem;
}

.about-us-row {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 7%;
   margin-top: 10px;
    
}
.about-us-col img {
    width: 100%;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
   
}
.about-us-col-1 p {
    margin-top: 40px;
    margin-left: 1rem;
}
.about-us-col-1 {
    margin: 6rem 20px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 20px;
    height: 280px;
    color: black;
background: #f4f1f1;
box-shadow:  50px 50px 100px #e5e1e1,
             -50px -50px 100px #ffffff;
}
.team {
    min-height: 500px;
    border-radius: 8px;
background: #f4f1f1;
background-image: url(/images/Our-team.jpg);
    background-size: cover;
    background-position: center;
box-shadow: inset -5px 5px 14px #a8a8a8,
            
}
/*------- FOOTER -------*/
footer {
    
    height: 6vh;
    background: #f4f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.footer-logo {
    width: 35px;
}

.post {
    padding: 10px;
    width: 330px;
    min-height: 370px;
    border-radius: 20px;
    background: #f4f1f1;
    box-shadow: 5px 5px 6px #dadada,
                -5px -5px 6px #dcd8d8;
    transition: 0.4s;
    
    
  }
  .post a {
    text-decoration: none;
    list-style-type: none;
  }
  
  .post:hover {
    translate: 0 -20px;
  }
  
  .post-title {
    font-size: 18px;
    font-weight: 600;
    color: #2e54a7;
    margin: 15px 0 0 10px;
  }
  
  .post-image1 {
    min-height: 250px;
    background-image: url(/images/cursor3.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    
  }

  .post-image2 {
    min-height: 250px;
    background-image: url(/images/frx4.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    
  }

  .post-image3 {
    min-height: 250px;
    background-image: url(/images/lungs6.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    
  }
  
  .post-body {
    margin: 13px 0 0 10px;
    color: rgb(31, 31, 31);
    font-size: 14px;
  }
  
  .footer {
    float: right;
    margin: 28px 0 0 18px;
    font-size: 13px;
    color: #636363;
  }
  
  .Author {
    font-weight: 700;
  }



/*------------------------------------------*/

.container {
    width: 80%;
    display: block;
    margin: auto;
    
  }
  .content-section {
    float: left;
    width: 55%;
  }
  .image-section {
    float: right;
    width: 40%;
  }
  .image-section img {
    width: 100%;
    height: auto;
    padding-top: 190px;
  }
  .content-section, .tile {
    text-transform: uppercase;
    font-size: 28px;
  }
  .content-section , .content h3{
    margin-top: 20px;
    color: black;
    font-size: 21px;
  }
  .content-section, .content p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
  }
 
  .content-section , .content , .button a {
    background: #f4f1f1;
    color: black;
    padding: 12px 40px ;
    text-decoration: none;
    
    font-size: 10px;
    letter-spacing: 1.5;
  }
  .read {
    border: 2px solid #f44336;
    border-radius: 8px;
   
  }
  .button a {
    color: white;
    background: #f44336;
  }

  .button {
    margin-top: 2rem;
    
  }
  .content h3 {
    font-size: 30px;
  }